body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}
/* Navigation Toolbar */
.navbar {
  background: #686666;             
  position: sticky;             
  top: 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar ul li a {
  color: hsl(62, 91%, 47%);     
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #12a3d8;               
}


.profile-pic {
  width: 250px;
  height: 250px;
  border-radius: 50%;   
  border: 4px solid #FFD700; 
  margin-bottom: 15px;  
}

header {
  background: #12a3d8;
  color: white;
  padding: 30px 20px;  
  text-align: center;
}

header h1 span {
  color: hsl(62, 91%, 47%);
}

section {
  padding: 5px 5px;      
  max-width: 800px;
  margin: 0 auto 20px auto; 
}

h2 {
  color: #12a3d8;
  margin-bottom: 15px; 
}

/* Skills Section */
.skills-category {
  margin-bottom: 15px;  
}
.skills-category h3 {
  color: #333;
  margin-bottom: 5px;
  font-size: 18px;
}
.skills-category p {
  background: #f4f4f4;
  padding: 8px;        
  border-radius: 5px;
}

/* Projects */
.project {
  background: #fff;
  padding: 15px;       
  margin-bottom: 15px;  
  border-left: 5px solid #12a3d8;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 15px;        
}
footer a {
  color: hsl(62, 91%, 47%);
  text-decoration: none;
}
